<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Libros</title>
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}"/>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}"/>
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin/>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="icon" th:href="@{/img/favicon.ico}"/>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js}" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="page-container">
    <header>
      <nav class="navbar sticky-top navbar-expand-lg bg-primary" >
        <div class="container">
          <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{/img/LogoSinFondo.svg}" alt="logo Korner">
          </a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse  justify-content-evenly" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item mt-lg-3  me-xl-3 " >
                <a class="nav-link " th:href="@{/peliculas}">Películas</a>
              </li>
              <li class="nav-item mt-lg-3  me-xl-3 ">
                <a class="nav-link" th:href="@{/videojuegos}">Videojuegos</a>
              </li>
              <li class="nav-item mt-lg-3  me-xl-3 ">
                <a class="nav-link" th:href="@{/series}">Series</a>
              </li>
              <li class="nav-item mt-lg-3 me-xl-3  ">
                <a class="nav-link active" th:href="@{/libros}">Libros</a>
              </li>
              <li class="nav-item mt-lg-3  me-xl-3 ">
                <a class="nav-link" th:href="@{/animes}">Animes</a>
              </li>
              <li class="nav-item  dropdown mt-lg-3  me-xl-3 ">
                <a class="nav-link dropdown-toggle " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Compartidos</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/compartidos/peliculas}">Películas</a></li>
                  <li><a class="dropdown-item" th:href="@{/compartidos/animes}">Animes</a></li>
                  <li><a class="dropdown-item" th:href="@{/compartidos/series}">Series</a></li>
                  <li><a class="dropdown-item" th:href="@{/compartidos/videojuegos}">Videojuegos</a></li>
                  <li><a class="dropdown-item" th:href="@{/compartidos/libros}">Libros</a></li>
                </ul>
              </li>
              <li  class="nav-item mt-lg-3  me-xl-2"  >
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/gestion}" >Gestión</a>
              </li>
              <li class="nav-item ms-lg-2 ms-xl-2 ">
                <a class="" href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  <img th:src="${imagenUsuario}" alt="imagen perfil" />
                </a>
              </li>
              <li class="nav-item mt-4 ms-lg-2 ms-xl-3 ">
                <a th:href="@{/leerNotificaciones}" role="button" class="position-relative" >
                  <span id="numeroNotifBadge" class="position-absolute top-0  start-100 translate-middle badge rounded-pill bg-danger"></span>
                  <i class="bi bi-bell fs-3 text-black"></i>
                  <span class="visually-hidden">Notificaciones no leidas</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <!-- OffCanvas Perfil -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Perfil</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="text-center">
        <img th:src="${imagenUsuario}" alt="imagen perfil" class="img-perfil d-flex mb-2" >
        <a th:href="@{/ajustes/nombre}" th:text="${nameUsuario}" class="nombre-perfil pt-3" ></a>
        <a th:href="@{/ajustes}" class="btn btn-primary boton-perfil" >Ajustes</a>
        <a th:href="@{/amigos}" class="btn btn-primary boton-perfil" >Amigos</a>
        <a th:href="@{/logout}" class="btn btn-primary boton-perfil" >Cerrar sesión</a>
      </div>
    </div>
  </div>
  <!-- ESTRUCTURA BARRA DE BUSQUEDA -->
 <div class="container-fluid">
   <div class="search-bar-container" >
     <div class="row">
       <!-- Botón "Añadir" -->
       <div class="col-12 col-md-2 d-flex mb-5 mb-md-0 me-5">
         <button type="button" class="btn-section-add" data-bs-toggle="modal" data-bs-target="#modalLibroAñadir">AÑADIR</button>
       </div>

       <!-- Barra de Búsqueda-->
       <div class="col-8  col-md-6 mb-3 ms-md-5 ms-md-0 ">
         <form th:action="@{/libros/search}" method="get">
           <div class="input-group">
             <input type="search" name="tituloLibroBusqueda" class="form-control search-input" aria-label="search" placeholder="Buscar...">
             <!-- Botón Buscar -->
             <div class="input-group-append">
               <button type="submit" class="btn-section-searchbar">BUSCAR</button>
             </div>
           </div>
         </form>

       </div>
       <!-- Botón Filtros -->
       <div class="col-12 col-sm-4 col-md-2">
         <div class="dropdown">
           <button type="button" class="btn-section-searchbar dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             FILTROS
           </button>
           <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton">
             <form th:action="@{/libros/search}" method="get">
               <!-- Filtro por Género -->
               <div class="form-group mb-3">
                 <label><strong>Género</strong></label><br>
                 <div class="form-check">
                   <select class="form-select" th:name="filtroGenero">
                     <option th:selected="selected" th:disabled="disabled">--Selecione Género--</option>
                     <option th:each="generoFiltroForm:${listaGeneros}" th:value="${generoFiltroForm.id}" th:text="${generoFiltroForm.nombre}"></option>
                   </select>
                 </div>
               </div>

               <!-- Filtro por Año -->
               <div class="form-group mb-3">
                 <label><strong>Año</strong></label><br>
                 <div class="form-check" >
                   <select class="form-select" th:name="filtroYear">
                     <option th:selected="selected" th:disabled="disabled">--Seleccione Año--</option>
                     <option th:each="year:${listadoYears}"  th:value="${year}" th:text="${year}"></option>
                   </select>
                 </div>
               </div>

               <!-- Filtro por Valoración -->
               <div class="form-group mb-3">
                 <label><strong>Valoración</strong></label><br>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating5" value="5" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating5">5</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating4" value="4" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating4">4</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating3" value="3" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating3">3</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating2" value="2" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating2">2</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating1" value="1" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating1">1</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" id="rating0" value="0" name="filtroPuntuacion">
                   <label class="form-check-label" for="rating1">0</label>
                 </div>


               </div>

               <!-- Filtro por Formato -->
               <div class="form-group mb-3">
                 <label><strong>Formato</strong></label><br>
                 <div class="form-check">
                   <select class="form-select" th:name="filtroFormato">
                     <option th:selected="selected" th:disabled="disabled">--Seleccione Formato--</option>
                     <option th:each="formatoFiltroForm:${listaFormatos}" th:value="${formatoFiltroForm.id}" th:text="${formatoFiltroForm.nombre}"></option>
                   </select>
                 </div>
               </div>

               <!-- Ordenacion -->
               <div class="form-group mb-3">
                 <label><strong>Ordenar por:</strong></label><br>
                 <div class="form-check">
                   <select class="form-select" th:name="filtroOrden">
                     <option th:selected="selected" th:disabled="disabled">--Ordenar por--</option>
                     <option value="ordenFiltroTituloAsc">Título asc</option>
                     <option value="ordenFiltroTituloDesc">Título desc</option>
                     <option value="ordenFiltroIdAsc">Creación asc</option>
                     <option value="ordenFiltroIdDesc">Creación desc</option>
                   </select>
                 </div>
               </div>

               <div class="d-flex justify-content-center mt-3">
                 <button type="submit" class="btn-section-primary">Aplicar Filtros</button>
               </div>

             </form>
           </div>
         </div>
       </div>

     </div>
   </div>
 </div>

  <!-- MODAL FORMULARIO AÑADIR LIBRO -->
  <div class="modal fade" id="modalLibroAñadir" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center txt-naranja" id="staticBackdropLabel4">AÑADIR LIBRO</h1>
          <a th:href="@{/libros}" class="btn btn-close"></a>
        </div>
        <div class="modal-body">
          <form th:action="@{/libros/saveLibro}" method="post" enctype="multipart/form-data" th:object="${datosLibro}">
            <script th:inline="javascript" th:if="${#fields.hasErrors('*')  and  libroActual == -1 || tituloRepetido != null}">/*<![CDATA[*/ $(document).ready(function () { $('#modalLibroAñadir').modal('show');}); /*]]>*/</script>
            <div class="mb-3">
              <label for="titulo" class="form-label">Título</label>
              <input type="text" class="form-control" id="titulo" name="titulo" th:field="*{titulo}" >
              <p th:if="${#fields.hasErrors('titulo')}" th:errorclass="error" th:errors="*{titulo}" ></p>
              <p th:if="${tituloRepetido}" class="error" th:text="${tituloRepetido}"></p>
            </div>
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen</label>
              <input class="form-control" type="file" accept="image/png, image/jpeg" id="imagen" name="imagen">
              <div th:if="${#fields.hasErrors('global')}">
                <p th:each="err: ${#fields.errors('global')}" class="error" th:text="${err}"></p>
              </div>

            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Año de lectura</label>
              <input type="number" class="form-control" id="year"  name="year" th:field="*{year}" th:min="${anioNacimiento}" th:max="${anioActual}" step="1">
              <p th:if="${#fields.hasErrors('year')}" th:errorclass="error" th:errors="*{year}" ></p>
            </div>
            <div class="mb-3">
              <div  class="form-label">Géneros</div><br>
              <div class="form-check form-check-inline"  th:each="generosItem: ${listaGeneros}">
                <label class="form-check-label" for="generosLibro" th:text="${generosItem.nombre}" ></label>
                <input class="form-check-input" type="checkbox" th:field="*{generosLibro}"  th:value="${generosItem.id}" id="generosLibro" >
              </div>
              <p  th:if="${#fields.hasErrors('generosLibro')}" th:errorclass="error" th:errors="*{generosLibro}"  ></p>
            </div>
            <div class="mb-3">
              <label for="opinion" class="form-label">Reseña</label>
              <textarea class="form-control" id="opinion" name="opinion" th:field="*{opinion}" style="height: 100px" placeholder="Escribe tu reseña aquí"></textarea>
              <p th:if="${#fields.hasErrors('opinion')}" th:errorclass="error" th:errors="*{opinion}" ></p>
            </div>
            <div class="mb-3">
              <div  class="form-label">Formato</div><br>
              <div class="form-check form-check-inline"  th:each="formatoItem: ${listaFormatos}">
                <label class="form-check-label" for="formatosLibro" th:text="${formatoItem.nombre}" ></label>
                <input class="form-check-input" type="checkbox" th:field="*{formatosLibro}" th:value="${formatoItem.id}" id="formatosLibro" >
              </div>
              <p  th:if="${#fields.hasErrors('formatosLibro')}" th:errorclass="error" th:errors="*{formatosLibro}"  ></p>
            </div>
            <div class="mb-3">
              <label for="puntuacion" class="form-label">Valoración</label>
              <input type="number" class="form-control" id="puntuacion" name="puntuacion" th:field="*{puntuacion}" min="0" max="5" step="1">
              <p th:if="${#fields.hasErrors('puntuacion')}" th:errorclass="error" th:errors="*{puntuacion}" ></p>
            </div>
            <div class="d-flex justify-content-end ">
              <a th:href="@{/libros}" class="btn btn-secondary me-2">Cerrar</a>
              <button type="submit" class="btn btn-primary">Añadir libro</button>
            </div>


          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- FIN MODAL FORMULARIO AÑADIR LIBRO -->

  <!-- ESTRUCTURA LIBROS -->

  <main class="content-wrap pt-5">
    <div class="container">
      <!-- Responsive -->
      <div class="row pb-1">
        <div class="col-12">
          <div th:if = "${size == 0}" class="text-center">
            <p>No hay añadido ningún libro</p>
          </div>
          <div th:if="${success}" class="text-center alert alert-success">
            <p th:text="${success}"></p>
          </div>
          <div th:if="${failed}" class="text-center alert alert-danger">
            <p th:text="${failed}"></p>
          </div>
        </div>
      </div>

      <!-- INICIO ORDENACION -->

      <div th:if="${size>0}" class="row">
        <div class="col-12 d-flex justify-content-start">
          <div class="col-3" th:if="${titulo == null && puntuacionFiltro == null && generoFiltro == null && yearFiltro == null && formatoFiltro == null}">
            <form th:action="@{/libros}" method="get" class="row row-cols-lg-auto g-3 align-items-center" >
              <div class="col-12">
                <select class="form-select" th:name="orden" >
                  <option th:selected="selected" th:disabled="disabled">--Ordenar por--</option>
                  <option value="ordenTituloAsc">Título asc</option>
                  <option value="ordenTituloDesc">Título desc</option>
                  <option value="ordenIdAsc">Creación asc</option>
                  <option value="ordenIdDesc">Creación desc</option>
                </select>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Aplicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!-- FIN ORDENACION -->


      <!-- INICIO PAGINACION -->
      <div class="row ">
        <div th:if="${titulo == null && puntuacionFiltro == null && generoFiltro == null && yearFiltro == null && formatoFiltro == null}">
          <div class="col-12 d-flex justify-content-center mb-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li th:if="${pagina.totalPages > 1 && currentPage!=1}" class="page-item">
                  <a th:href="@{/libros(page=${currentPage - 1}, orden=${orden})}" class="page-link" href="#">Previous</a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                  <a th:href="@{/libros(page=${pageNumber}, orden=${orden})}"
                     th:text="${pageNumber}"
                     th:classappend="${pageNumber==pagina.number + 1} ? active"
                     class="page-link" ></a>
                </li>
                <li th:unless="${currentPage ==pagina.totalPages || pagina.totalPages == 0}" class="page-item">
                  <a th:href="@{/libros(page=${currentPage + 1}, orden=${orden})}" class="page-link" >Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div th:if="${titulo != null || puntuacionFiltro != null || generoFiltro !=null || yearFiltro != null || formatoFiltro != null}">
          <div class="col-12 d-flex justify-content-end mb-3">
            <a class="btn btn-primary" th:href="@{/libros}">Cancelar búsqueda y filtrado</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li th:if="${pagina.totalPages > 1 && currentPage!=1}" class="page-item">
                  <a th:href="@{/libros/search(page=${currentPage - 1}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                    filtroFormato=${formatoFiltro}, filtroOrden=${ordenFiltro})}" class="page-link">Previous</a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                  <a th:href="@{/libros/search(page=${pageNumber}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                     filtroFormato=${formatoFiltro}, filtroOrden=${ordenFiltro})}"
                     th:text="${pageNumber}"
                     th:classappend="${pageNumber==pagina.number + 1} ? active"
                     class="page-link"></a>
                </li>
                <li th:unless="${currentPage ==pagina.totalPages || pagina.totalPages == 0}" class="page-item">
                  <a th:href="@{/libros/search(page=${currentPage + 1}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                     filtroFormato=${formatoFiltro}, filtroOrden=${ordenFiltro})}" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- FIN PAGINACION -->


        <div class="col-12 col-md-6 mb-4" th:if = "${size > 0}" th:each = "libro : ${libros}"  >


          <!-- MODAL FORMULARIO MODIFICAR LIBRO -->

          <div class="modal fade"  th:id="modalLibroUpdate + ${libro.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-center txt-naranja" id="staticBackdropLabel">MODIFICAR LIBRO</h1>
                  <a th:href="@{/libros}" class="btn btn-close"></a>
                </div>
                <div class="modal-body">
                  <form th:action="@{/libros/saveLibroModificar}" method="post" enctype="multipart/form-data" th:object="${datosLibro}">
                    <script th:inline="javascript" th:if="${#fields.hasErrors('*') and libroActual == libro.id || libroRepetido == libro.id} ">/*<![CDATA[*/ $(document).ready(function () {
                      let modalId = 'modalLibroUpdate' + /*[[${libro.id}]]*/'';
                      $('#' + modalId).modal('show');}); /*]]>*/</script>
                    <input type="hidden" name="id" th:value="${libro.id}">
                    <div class="mb-3">
                      <label for="titulo" class="form-label">Título</label>
                      <input type="text" class="form-control" id="titulo" th:name="titulo" th:value="${libro.titulo}">
                      <p th:if="${#fields.hasErrors('titulo')}" th:errorclass="error" th:errors="*{titulo}" th:field="*{titulo}"></p>
                      <p th:if="${libroRepetido == libro.id}" class="error" th:text="${tituloRepetido2}"></p>
                    </div>
                    <div class="mb-3">
                      <label for="imagen" class="form-label">Imagen</label>
                      <input class="form-control" type="file" accept="image/png, image/jpeg" id="imagen" name="imagen">
                      <div th:if="${#fields.hasErrors('global')}">
                        <p th:each="err: ${#fields.errors('global')}" class="error" th:text="${err}"></p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="year" class="form-label">Año de visualización</label>
                      <input type="number" class="form-control" id="year"
                             th:name="year" th:value="${libro.year}" th:min="${anioNacimiento}" th:max="${anioActual}" step="1">
                      <p th:if="${#fields.hasErrors('year')}" th:errorclass="error" th:errors="*{year}" th:field="*{year}"></p>
                    </div>
                    <div class="mb-3">
                      <div  class="form-label">Géneros</div><br>
                      <div class="form-check form-check-inline"  th:each="generosItem: ${listaGeneros}">
                        <label class="form-check-label" for="generosLibro" th:text="${generosItem.nombre}" ></label>
                        <input class="form-check-input" type="checkbox" th:field="*{generosLibro}"  th:value="${generosItem.id}" id="generosLibro" >
                      </div>
                      <p  th:if="${#fields.hasErrors('generosLibro')}" th:errorclass="error" th:errors="*{generosLibro}"  ></p>
                    </div>
                    <div class="mb-3">
                      <label for="opinion" class="form-label">Reseña</label>
                      <textarea class="form-control" id="opinionLibroUpdate"
                                style="height: 100px" placeholder="Escribe tu reseña aquí" th:name="opinion"
                                th:text="${libro.opinion}" ></textarea>
                      <p th:if="${#fields.hasErrors('opinion')}" th:errorclass="error" th:errors="*{opinion}" th:field="*{opinion}"></p>
                    </div>
                    <div class="mb-3">
                      <div  class="form-label">Formato</div><br>
                      <div class="form-check form-check-inline"  th:each="formatoItem: ${listaFormatos}">
                        <label class="form-check-label" for="formatosLibro" th:text="${formatoItem.nombre}" ></label>
                        <input class="form-check-input" type="checkbox" th:field="*{formatosLibro}" th:value="${formatoItem.id}" id="formatosLibro" >
                      </div>
                      <p  th:if="${#fields.hasErrors('formatosLibro')}" th:errorclass="error" th:errors="*{formatosLibro}"  ></p>
                    </div>
                    <div class="mb-3">
                      <label for="puntuacion" class="form-label">Valoración</label>
                      <input type="number" class="form-control" id="puntuacionLibroUpdate"
                             min="0" max="5" step="1" th:name="puntuacion" th:value="${libro.puntuacion}">
                      <p th:if="${#fields.hasErrors('puntuacion')}" th:errorclass="error" th:errors="*{puntuacion}" th:field="*{puntuacion}"></p>
                    </div>
                    <div class="d-flex justify-content-end ">
                      <a th:href="@{/libros}" class="btn btn-secondary me-2">Cerrar</a>
                      <button type="submit" class="btn btn-primary" >Guardar</button>
                    </div>




                  </form>
                </div>

              </div>
            </div>
          </div>

          <!-- FIN MODAL FORMULARIO MODIFICAR LIBRO -->

          <!-- MODAL FORMULARIO ELIMINAR LIBRO -->

          <div class="modal fade"  th:id="modalLibroDelete + ${libro.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-center txt-naranja" id="staticBackdropLabel3">ELIMINAR LIBRO</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form th:action="@{libros/deleteLibro}" method="post">
                    <input type="hidden" name="id" th:value="${libro.id}">
                    <div class="mb-3">
                      <label for="titulo" class="form-label">Eliminar el siguiente libro:</label>
                      <h4 class="form-control" id="tituloAnimeDelete" th:text="${libro.titulo}"></h4>
                    </div>
                    <div class="d-flex justify-content-end ">
                      <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary" >Borrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!--FIN MODAL FORMULARIO ELIMINAR LIBRO -->

          <div class="modal-dialog modal-dialog-centered custom-modal">
            <div class="modal-content">
              <!-- Imagen Libro -->
              <div class="modal-header space-down">
                <img th:src="${libro.imagenRuta}" alt="Imagen de la portada del libro" class="custom-section-image"/>
              </div>
              <!-- Icono de compartir -->
              <button class="btn-share">
                <a th:href="@{/compartir/libro/{idLibro} (idLibro = ${libro.id})}">
                  <img th:src="@{/img/icono_compartir.png}" alt="Compartir" class="share-icon">
                </a>
              </button>
              <!-- Título, Año, Géneros y Plataforma Libro -->
              <div class="modal-body">
                <div class="space-down">
                  <h5 class="modal-title"><b th:text="${libro.titulo}"></b></h5>
                </div>
                <div class="space-down">
                  <h6>Año leído:</h6>
                  <h6 th:text="${libro.year}"></h6>
                </div>
                <div class="space-down">
                  <h6>Géneros:</h6>
                  <h6 th:each="genero: ${libro.getGenerosLibro()}" th:text="${genero.nombre}"></h6>
                </div>
                <div class="space-down">
                  <h6>Formato:</h6>
                  <h6 th:each="formato: ${libro.getFormatosLibro()}" th:text="${formato.nombre}"></h6>
                </div>
              </div>
              <!-- Reseña y Puntuación -->
              <div class="modal-body custom-review">
                <div class="space-down">
                  <h6>Opinión:</h6>
                  <div class="form-control" style="border-radius: 0; border-color: black; background-color: white; height: auto;">
                    <p th:text="${libro.opinion}"></p>
                  </div>
                </div>
                <h6>Puntuación:</h6>
                <div class="modal-rating space-down d-flex align-items-center">

                  <h6 style="font-weight:bold;" th:text="${libro.puntuacion}"></h6>
                  <h6 style="font-weight:bold;" >/5</h6>
                </div>
              </div>
              <!-- Botones de Modificar y Eliminar -->
              <div class="modal-body text-center space-down" style="margin-top: 15px;">
                <div class="button-container" style="display: flex; justify-content: center; gap: 10px;">
                  <button type="button" class="btn-section-primary"  data-bs-toggle="modal"
                          th:attr="data-bs-target='#modalLibroUpdate' +*{libro.id}">Modificar</button>
                  <button type="button"  class="btn-section-primary" data-bs-toggle="modal"
                          th:attr="data-bs-target='#modalLibroDelete' + *{libro.id}">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Modal 1 -->
        </div>

      </div>

      <!-- INICIO PAGINACION -->
      <div class="row">
        <div th:if="${titulo == null && puntuacionFiltro == null && generoFiltro == null && yearFiltro == null && formatoFiltro == null}">
          <div class="col-12 d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li th:if="${pagina.totalPages > 1 && currentPage!=1}" class="page-item">
                  <a th:href="@{/libros(page=${currentPage - 1}, orden=${orden})}" class="page-link">Previous</a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                  <a th:href="@{/libros(page=${pageNumber}, orden=${orden})}"
                     th:text="${pageNumber}"
                     th:classappend="${pageNumber==pagina.number + 1} ? active"
                     class="page-link"></a>
                </li>
                <li th:unless="${currentPage ==pagina.totalPages || pagina.totalPages == 0}" class="page-item">
                  <a th:href="@{/libros(page=${currentPage + 1}, orden=${orden})}" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div th:if="${titulo != null || puntuacionFiltro != null || generoFiltro !=null || yearFiltro != null || formatoFiltro != null}">
          <div class="col-12 d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li th:if="${pagina.totalPages > 1 && currentPage!=1}" class="page-item">
                  <a th:href="@{/libros/search(page=${currentPage - 1}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                    filtroFormato=${formatoFiltro},filtroOrden=${ordenFiltro})}" class="page-link">Previous</a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                  <a th:href="@{/libros/search(page=${pageNumber}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                     filtroFormato=${formatoFiltro}, filtroOrden=${ordenFiltro})}"
                     th:text="${pageNumber}"
                     th:classappend="${pageNumber==pagina.number + 1} ? active"
                     class="page-link"></a>
                </li>
                <li th:unless="${currentPage ==pagina.totalPages || pagina.totalPages == 0}" class="page-item">
                  <a th:href="@{/libros/search(page=${currentPage + 1}, tituloLibroBusqueda=${titulo},
                                    filtroPuntuacion=${puntuacionFiltro},
                                    filtroGenero=${generoFiltro}, filtroYear=${yearFiltro},
                                     filtroFormato=${formatoFiltro}, filtroOrden=${ordenFiltro})}" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- FIN PAGINACION -->


      </div>

  </main>


  <footer class="bg-primary"></footer>
  <script type="text/javascript" th:src="@{/js/notificaciones.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
</html>